
.text{
      color: var(--primario);
      font-size: 20px;
      font-family: var(--Raleway-extrabold);
}
.textp{
  font-size: 14px;
color:var(--primario-active);

}

.contratar{
  background-color: var(--acento);

}
.slice{
  font-family: var(--Raleway-extrabold);
}